* {
  box-sizing: border-box;
}

body {
  background-color:#66CC99;
  margin: 0;
  padding: 0;
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 100px;
 
}


 header {
  width: 100%;
  padding: 30px 4% 10px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  background-color:#fff ;
} 

a {	
  text-decoration: none;
  color: #4b4b4b;
}

ul {
  list-style: none;
  margin: 0;
  display: flex;
}

li {
  margin: 0 0 0 15px;
  font-size: 14px;
}

nav {
  margin: 0 0 0 auto;
}

.title{
  color: green;
  
}

.mypage{
  color: green;
}

.blog-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.blog-list table {
  width: 100%;
  border-collapse: collapse;
}

.blog-list th, .blog-list td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.blog-list th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.blog-list tbody tr:hover {
  background-color: #f0f0f0;
}

 

